* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body {
    background-color: black;
  }
  .container {
    display: flex;
    color: white;
  }
  .left-container {
    background-color: rgb(6, 170, 94);
    width: 45%;

    text-align: center;
    padding-top: 20px;
  }
  .left-container h1 {
    text-align: start;
    margin-left: 20px;
  }
  .right-container {
    background: #1d2b3a;
    height: 100vh;
    flex: 1;
    padding: 5%;
  }

  a{
    color: rgb(6, 170, 94);
  }